@charset "UTF-8";

* { font-family: Georgia, 'Times New Roman', Times, serif;};

body {
    font-family: 'Courier New', Courier, monospace;
}

table.tabsimples {
    width: 400px;
    height: 400px;
    border-collapse:collapse;
}
table.tabsimples > tbody > tr > td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}


table.tabcomp {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

table.tabcomp > caption {
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 10px;
}
table.tabcomp > thead > tr > th {
    position: sticky;
    background-color:rgb(20, 210, 248) ;
    top: -1px;
}
   
table.tabcomp > thead, tfoot, caption {
    background-color: rgb(20, 210, 248);
}
table.tabcomp > thead, tfoot > tr >th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
table.tabcomp > tbody > tr:nth-child(even){
    background-color: rgba(114, 191, 219, 0.257);
}
.num {
    text-align: right;
}

table.tabmesc {
    width: 300px;
    border-collapse: collapse;
}

table.tabmesc > thead > tr > th {
    border: 1px solid black;
    text-align: center;
}
